{% extends  "viewer/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <!-- Content here -->
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div id="tree">
                        <ul>
                            <li>Purchase Order</li>
                            <ul>
                                <li>po_01</li>
                                <li>po_02</li>
                                <li>po_03</li>
                                <li>po_04</li>
                                <li>po_05</li>
                            </ul>>
                            <li>Work Order</li>
                            <ul>
                                <li>wo_01</li>
                                <li>wo_02</li>
                                <li>wo_03</li>
                            </ul>>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <div id="my_pdf_viewer">
                        <div id="canvas_container">
                            <canvas id="pdf_renderer"></canvas>
                        </div>

                        <div id="navigation_controls" class="d-flex justify-content-center mt-3">
                            <button id="go_previous" class="btn btn-outline-primary">Previous</button>
                            <input id="current_page" class="form-control w-25 ms-1" value="1" type="number" />
                            <button id="go_next" class="btn btn-outline-primary ms-1">Next</button>
                        </div>

                        <div id="zoom_controls" class="d-flex justify-content-center mt-2">
                            <button id="zoom_in" class="btn btn-outline-danger">+</button>
                            <button id="zoom_out" class="btn btn-outline-danger ms-1">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'viewer/js/script.js' %}"></script>
<script>
    $(function () {
        var jsonData = [
            {
                id: 1,
                text: "Purchase Order",
                state: {
                    selected: true
                },
                children: [
                    {
                        id: 2,
                        text: "po_01",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    },
                    {
                        id: 3,
                        text: "po_02",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    },
                    {
                        id: 4,
                        text: "po_03",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    },
                    {
                        id: 5,
                        text: "po_04",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    },
                    {
                        id: 6,
                        text: "po_05",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    }
                ]
            },
            {
                id: 7,
                text: "Work Order",
                state: {
                    selected: false
                },
                children: [
                    {
                        id: 8,
                        text: "wo_01",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    },
                    {
                        id: 9,
                        text: "wo_02",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    },
                    {
                        id: 10,
                        text: "wo_03",
                        icon: "jstree-file",
                        state: {
                            selected: false
                        },
                    },
                ]
            }
        ];
        $('#tree')
            .on('changed.jstree', function (e, data) {
                var objNode = data.instance.get_node(data.selected);
                console.log(objNode.text);
                switch (objNode.text) {
                    case "po_01":
                        loadPdf('{% url "viewer:view_pdf" "purchase_order" "po_01" %}');
                        break;
                    case "po_02":
                        loadPdf('{% url "viewer:view_pdf" "purchase_order" "po_02" %}');
                        break;
                    case "po_03":
                        loadPdf('{% url "viewer:view_pdf" "purchase_order" "po_03" %}');
                        break;
                    case "po_04":
                        loadPdf('{% url "viewer:view_pdf" "purchase_order" "po_04" %}');
                        break;
                    case "po_05":
                        loadPdf('{% url "viewer:view_pdf" "purchase_order" "po_05" %}');
                        break;
                    case "wo_01":
                        loadPdf('{% url "viewer:view_pdf" "work_order" "wo_01" %}');
                        break;
                    case "wo_02":
                        loadPdf('{% url "viewer:view_pdf" "work_order" "wo_02" %}');
                        break;
                    case "wo_03":
                        loadPdf('{% url "viewer:view_pdf" "work_order" "wo_03" %}');
                        break;
                    default:
                    // code block
                }
            })
            .jstree({
                core: {
                    data: jsonData
                }
            });
    });
</script>
{% endblock content %}